In [5]:
import pandas as pd
import numpy as np
# Set the file path
file_path = 'Resources/people.csv'

df = pd.read_csv(file_path)
df.head(10)

,first_name,last_name,gender,age,company_name,address,city,phone1,phone2,email
0,Rufe,Eickhoff,M,54,Zieme and Sons,0 Summer Ridge Pass,Mizque,740-948-0089,177-453-4212,reickhoff0@last.fm
1,Berkie,Morson,M,20,Gibson and Sons,37963 Linden Crossing,Ouro Branco,168-714-9518,435-628-4078,bmorson1@homestead.com
2,Urbano,Polly,M,29,Brown-Dietrich,772 Crowley Court,Banff,126-409-5968,523-115-7431,upolly2@cdbaby.com
3,Alphonso,Bourley,M,29,Hansen-Russel,0 Graceland Avenue,Sabana Grande,583-906-8550,363-721-4939,abourley3@issuu.com
4,Munmro,Fenck,M,57,Jaskolski and D'Amore,7 Rowland Way,Pitai,141-960-7812,652-495-4816,mfenck4@mediafire.com
5,Colby,Chalfont,M,32,"Kunde, Herzog and Lindgren",98 Little Fleur Court,Liwale,395-153-7931,963-148-3533,cchalfont5@gov.uk
6,Erek,Simone,M,29,Botsford-Graham,441 Grover Parkway,Caoxi,742-302-7229,185-900-2437,esimone6@apple.com
7,Anett,Everly,F,49,"Hahn, Tremblay and Keebler",3226 Everett Center,Wangjiahe,383-619-6899,361-512-7416,aeverly7@jimdo.com
8,Howey,Cauldfield,M,23,Wyman LLC,72 Anzinger Street,Huancheng,350-164-4646,112-819-7882,hcauldfield8@nationalgeographic.com
9,Nate,Rowbottam,M,71,Bahringer Group,9 Glendale Alley,Río Bueno,660-856-1179,819-227-5451,nrowbottam9@yahoo.com

In [6]:
df.shape

(500, 10)

In [7]:
df.columns

Index(['first_name', 'last_name', 'gender', 'age', 'company_name', 'address',
       'city', 'phone1', 'phone2', 'email'],
      dtype='object')

In [8]:
df.dtypes

first_name      object
last_name       object
gender          object
age              int64
company_name    object
address         object
city            object
phone1          object
phone2          object
email           object
dtype: object

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   first_name    500 non-null    object
 1   last_name     500 non-null    object
 2   gender        500 non-null    object
 3   age           500 non-null    int64
 4   company_name  500 non-null    object
 5   address       500 non-null    object
 6   city          500 non-null    object
 7   phone1        500 non-null    object
 8   phone2        500 non-null    object
 9   email         500 non-null    object
dtypes: int64(1), object(9)
memory usage: 39.2+ KB

In [10]:
df.describe

<bound method NDFrame.describe of           first_name last_name gender  age                  company_name  \
0               Rufe  Eickhoff      M   54                Zieme and Sons
1             Berkie    Morson      M   20               Gibson and Sons
2             Urbano     Polly      M   29                Brown-Dietrich
3           Alphonso   Bourley      M   29                 Hansen-Russel
4             Munmro     Fenck      M   57         Jaskolski and D'Amore
..               ...       ...    ...  ...                           ...
495          Perrine    Patria      F   79  Heaney, Marks and Williamson
496             Perl   Parrett      F   38                  Schuppe-Wiza
497            Eleen   Jakeman      F   37                Lakin and Sons
498           Crysta   Barfoot      F   60       Graham, Koss and Larkin
499  Helen-elizabeth     McKew      F   40   Wisozk, Mueller and Streich

                    address            city        phone1        phone2  \
0       0 Summer Ridge Pass          Mizque  740-948-0089  177-453-4212
1     37963 Linden Crossing     Ouro Branco  168-714-9518  435-628-4078
2         772 Crowley Court           Banff  126-409-5968  523-115-7431
3        0 Graceland Avenue   Sabana Grande  583-906-8550  363-721-4939
4             7 Rowland Way           Pitai  141-960-7812  652-495-4816
..                      ...             ...           ...           ...
495          28 Amoth Court          Saipan  546-483-0265  196-735-7266
496  517 Mariners Cove Road         Zverevo  314-806-6598  761-758-1493
497        835 Dunning Road  Carlos Barbosa  271-474-6733  313-517-3577
498   35065 Westport Circle        Nguluhan  700-959-5943  844-972-8566
499      1 Northfield Alley       Sijunjung  922-121-7848  649-108-4915

                         email
0           reickhoff0@last.fm
1       bmorson1@homestead.com
2           upolly2@cdbaby.com
3          abourley3@issuu.com
4        mfenck4@mediafire.com
..                         ...
495  ppatriadr@stumbleupon.com
496       pparrettds@cam.ac.uk
497       ejakemandt@prlog.org
498        cbarfootdu@about.me
499           hmckewdv@ibm.com

[500 rows x 10 columns]>

In [11]:
#Find the number of unique cities
cities = df['city'].unique()
len(cities)

496

In [12]:
#Average age
df['age'].mean()

52.804

In [13]:
#Min Age
df['age'].min()

18

In [14]:
#Max Age
df['age'].max()

87

In [15]:
df.loc[df['age']>50]

,first_name,last_name,gender,age,company_name,address,city,phone1,phone2,email
0,Rufe,Eickhoff,M,54,Zieme and Sons,0 Summer Ridge Pass,Mizque,740-948-0089,177-453-4212,reickhoff0@last.fm
4,Munmro,Fenck,M,57,Jaskolski and D'Amore,7 Rowland Way,Pitai,141-960-7812,652-495-4816,mfenck4@mediafire.com
9,Nate,Rowbottam,M,71,Bahringer Group,9 Glendale Alley,Río Bueno,660-856-1179,819-227-5451,nrowbottam9@yahoo.com
10,Troy,McLanachan,M,73,Casper and Sons,50 Rusk Avenue,Booterstown,864-571-4431,740-974-0722,tmclanachana@360.cn
11,Charmion,Wrates,F,85,Schmidt-Crooks,3 Thackeray Terrace,Jampang Tengah,890-425-7826,255-973-8410,cwratesb@drupal.org
...,...,...,...,...,...,...,...,...,...,...
492,Norby,Gregolotti,M,53,Rath-Hahn,05623 Moland Plaza,Hengdian,431-691-4027,799-839-4486,ngregolottido@npr.org
493,Kittie,Machon,F,83,Huel-Kuhn,22 Quincy Court,Munse,835-750-7864,678-487-3688,kmachondp@php.net
494,Vidovic,Maliffe,M,60,Cassin-Ondricka,5180 Fulton Center,Grajaú,463-570-2309,547-207-9497,vmaliffedq@zdnet.com
495,Perrine,Patria,F,79,"Heaney, Marks and Williamson",28 Amoth Court,Saipan,546-483-0265,196-735-7266,ppatriadr@stumbleupon.com
498,Crysta,Barfoot,F,60,"Graham, Koss and Larkin",35065 Westport Circle,Nguluhan,700-959-5943,844-972-8566,cbarfootdu@about.me

In [16]:
city='Munse'
df[(df['age']>40)&(df['city']==city)]

,first_name,last_name,gender,age,company_name,address,city,phone1,phone2,email
493,Kittie,Machon,F,83,Huel-Kuhn,22 Quincy Court,Munse,835-750-7864,678-487-3688,kmachondp@php.net

In [17]:
df.sort_values('age', ascending=True)

,first_name,last_name,gender,age,company_name,address,city,phone1,phone2,email
137,Bibbie,Barney,F,18,Green LLC,6 Sherman Avenue,Wenquan,643-329-5323,103-317-6662,bbarney3t@prnewswire.com
469,Lowrance,Sallarie,M,18,"Ondricka, Cummerata and Friesen",247 Harper Place,Marshintsy,713-257-7454,195-642-2391,lsallaried1@phoca.cz
472,Anton,Laimable,M,18,Yost Inc,21086 Burning Wood Crossing,Skerries,227-324-9720,347-439-1588,alaimabled4@auda.org.au
148,Jane,McKimmie,F,18,Rogahn-Yost,94252 Marquette Way,Puqian,695-125-1023,251-415-6201,jmckimmie44@hp.com
348,Maegan,Tanfield,F,18,Kris and Sons,12142 Chinook Crossing,Pallasovka,677-966-0862,818-857-4892,mtanfield9o@cmu.edu
...,...,...,...,...,...,...,...,...,...,...
323,Sydney,Manchett,M,87,"Blanda, MacGyver and Lesch",196 Bashford Crossing,Roshnik,487-968-7464,490-239-4499,smanchett8z@forbes.com
389,Grady,Corkan,M,87,Willms LLC,7 Sunbrook Circle,Melgar,740-845-5790,791-663-4465,gcorkanat@webs.com
184,Dusty,Kleen,F,87,"Marks, Kozey and Pfeffer",4 Drewry Road,Gus’-Zheleznyy,801-165-3642,926-212-5671,dkleen54@surveymonkey.com
314,Elysia,Attock,F,87,"Erdman, Parisian and Botsford",2673 Florence Crossing,Vitim,236-386-6117,522-428-6352,eattock8q@360.cn
355,Giavani,Claesens,M,87,Weimann and Sons,0677 Sunfield Circle,Hājīganj,226-416-3407,145-532-7933,gclaesens9v@squarespace.com

In [18]:

(
    df[['first_name','last_name','age','city']]
    .sort_values('age', ascending=False)
)

    first_name last_name  age               city
139       Boyd    Panner   87  Kamenné Žehrovice
389      Grady    Corkan   87             Melgar
184      Dusty     Kleen   87     Gus’-Zheleznyy
430      Essie   Attkins   87         Kafr Kannā
323     Sydney  Manchett   87            Roshnik
..         ...       ...  ...                ...
148       Jane  McKimmie   18             Puqian
469   Lowrance  Sallarie   18         Marshintsy
472      Anton  Laimable   18           Skerries
137     Bibbie    Barney   18            Wenquan
348     Maegan  Tanfield   18         Pallasovka

[500 rows x 4 columns]

In [19]:
#Average Age by Gender
df.groupby('gender')['age'].mean()

gender
F    53.152727
M    52.377778
Name: age, dtype: float64

In [20]:
df.groupby('gender')['age'].agg(['mean', 'count'])

             mean  count
gender
F       53.152727    275
M       52.377778    225

In [21]:
#Top 5 cities with the highest average age
(
    df.groupby('city')['age']
    .mean()
    .sort_values(ascending=False)
    .head()
)

city
Baomin               87.0
Vitim                87.0
Hājīganj             87.0
Melgar               87.0
Kamenné Žehrovice    87.0
Name: age, dtype: float64

In [22]:
#Head count by Company
df["company_name"].value_counts().head()

Marvin and Sons        2
McCullough LLC         2
Halvorson and Sons     2
Hammes Inc             2
Gusikowski and Sons    2
Name: company_name, dtype: int64

In [23]:
#Company with the most employees
df["company_name"].value_counts().idxmax()

'Marvin and Sons'

In [24]:
#Create a feature that is First Name + Last Name
df["full_name"]=df["first_name"] + " "+ df["last_name"]
df.head()

,first_name,last_name,gender,age,company_name,address,city,phone1,phone2,email,full_name
0,Rufe,Eickhoff,M,54,Zieme and Sons,0 Summer Ridge Pass,Mizque,740-948-0089,177-453-4212,reickhoff0@last.fm,Rufe Eickhoff
1,Berkie,Morson,M,20,Gibson and Sons,37963 Linden Crossing,Ouro Branco,168-714-9518,435-628-4078,bmorson1@homestead.com,Berkie Morson
2,Urbano,Polly,M,29,Brown-Dietrich,772 Crowley Court,Banff,126-409-5968,523-115-7431,upolly2@cdbaby.com,Urbano Polly
3,Alphonso,Bourley,M,29,Hansen-Russel,0 Graceland Avenue,Sabana Grande,583-906-8550,363-721-4939,abourley3@issuu.com,Alphonso Bourley
4,Munmro,Fenck,M,57,Jaskolski and D'Amore,7 Rowland Way,Pitai,141-960-7812,652-495-4816,mfenck4@mediafire.com,Munmro Fenck

In [25]:
#create a feature where age < 30 is young, 30<=50 is mid, and older is senior
df["age_group"]=np.where(
    df["age"] < 30, "Young",
    np.where(df["age"] <=50, "Mid", "Senior")
)
df.head()

,first_name,last_name,gender,age,company_name,address,city,phone1,phone2,email,full_name,age_group
0,Rufe,Eickhoff,M,54,Zieme and Sons,0 Summer Ridge Pass,Mizque,740-948-0089,177-453-4212,reickhoff0@last.fm,Rufe Eickhoff,Senior
1,Berkie,Morson,M,20,Gibson and Sons,37963 Linden Crossing,Ouro Branco,168-714-9518,435-628-4078,bmorson1@homestead.com,Berkie Morson,Young
2,Urbano,Polly,M,29,Brown-Dietrich,772 Crowley Court,Banff,126-409-5968,523-115-7431,upolly2@cdbaby.com,Urbano Polly,Young
3,Alphonso,Bourley,M,29,Hansen-Russel,0 Graceland Avenue,Sabana Grande,583-906-8550,363-721-4939,abourley3@issuu.com,Alphonso Bourley,Young
4,Munmro,Fenck,M,57,Jaskolski and D'Amore,7 Rowland Way,Pitai,141-960-7812,652-495-4816,mfenck4@mediafire.com,Munmro Fenck,Senior

In [26]:
#count people in each age group
df["age_group"].value_counts()

Senior    267
Mid       148
Young      85
Name: age_group, dtype: int64

In [27]:
#create a feature that contains just the email_domain-
df["email_domaine"]=df["email"].str.split("@").str[1]
df.head()

,first_name,last_name,gender,age,company_name,address,city,phone1,phone2,email,full_name,age_group,email_domaine
0,Rufe,Eickhoff,M,54,Zieme and Sons,0 Summer Ridge Pass,Mizque,740-948-0089,177-453-4212,reickhoff0@last.fm,Rufe Eickhoff,Senior,last.fm
1,Berkie,Morson,M,20,Gibson and Sons,37963 Linden Crossing,Ouro Branco,168-714-9518,435-628-4078,bmorson1@homestead.com,Berkie Morson,Young,homestead.com
2,Urbano,Polly,M,29,Brown-Dietrich,772 Crowley Court,Banff,126-409-5968,523-115-7431,upolly2@cdbaby.com,Urbano Polly,Young,cdbaby.com
3,Alphonso,Bourley,M,29,Hansen-Russel,0 Graceland Avenue,Sabana Grande,583-906-8550,363-721-4939,abourley3@issuu.com,Alphonso Bourley,Young,issuu.com
4,Munmro,Fenck,M,57,Jaskolski and D'Amore,7 Rowland Way,Pitai,141-960-7812,652-495-4816,mfenck4@mediafire.com,Munmro Fenck,Senior,mediafire.com

In [28]:
#check which email domain is most common
df["email_domaine"].value_counts().idxmax()

'multiply.com'

In [29]:
#Find all people whose email ends with .com
df[df["email"].str.endswith(".com")]

,first_name,last_name,gender,age,company_name,address,city,phone1,phone2,email,full_name,age_group,email_domaine
1,Berkie,Morson,M,20,Gibson and Sons,37963 Linden Crossing,Ouro Branco,168-714-9518,435-628-4078,bmorson1@homestead.com,Berkie Morson,Young,homestead.com
2,Urbano,Polly,M,29,Brown-Dietrich,772 Crowley Court,Banff,126-409-5968,523-115-7431,upolly2@cdbaby.com,Urbano Polly,Young,cdbaby.com
3,Alphonso,Bourley,M,29,Hansen-Russel,0 Graceland Avenue,Sabana Grande,583-906-8550,363-721-4939,abourley3@issuu.com,Alphonso Bourley,Young,issuu.com
4,Munmro,Fenck,M,57,Jaskolski and D'Amore,7 Rowland Way,Pitai,141-960-7812,652-495-4816,mfenck4@mediafire.com,Munmro Fenck,Senior,mediafire.com
6,Erek,Simone,M,29,Botsford-Graham,441 Grover Parkway,Caoxi,742-302-7229,185-900-2437,esimone6@apple.com,Erek Simone,Young,apple.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,Barbey,Petracchi,F,65,"Schroeder, Koss and Lindgren",9 Roxbury Parkway,Pulangbato,902-664-1449,985-668-2216,bpetracchidj@mediafire.com,Barbey Petracchi,Senior,mediafire.com
491,Kimberlee,Lorrimer,F,26,"Gottlieb, Murazik and Ondricka",666 Ohio Drive,Binitinan,338-247-2510,212-148-6044,klorrimerdn@vistaprint.com,Kimberlee Lorrimer,Young,vistaprint.com
494,Vidovic,Maliffe,M,60,Cassin-Ondricka,5180 Fulton Center,Grajaú,463-570-2309,547-207-9497,vmaliffedq@zdnet.com,Vidovic Maliffe,Senior,zdnet.com
495,Perrine,Patria,F,79,"Heaney, Marks and Williamson",28 Amoth Court,Saipan,546-483-0265,196-735-7266,ppatriadr@stumbleupon.com,Perrine Patria,Senior,stumbleupon.com
499,Helen-elizabeth,McKew,F,40,"Wisozk, Mueller and Streich",1 Northfield Alley,Sijunjung,922-121-7848,649-108-4915,hmckewdv@ibm.com,Helen-elizabeth McKew,Mid,ibm.com